@import '../../node_modules/@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

$trivial-color-primary: #5298a2;
$trivial-color-accent: #cc2054;
$trivial-color-blue-grey: #5b6f81;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$trivial-app-primary: mat-palette($mat-teal);
$trivial-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$trivial-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$trivial-app-theme: mat-light-theme($trivial-app-primary, $trivial-app-accent, $trivial-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($trivial-app-theme);
