<div class="flex-container header"
     fxLayout="column"
     fxLayoutAlign="space-around center">
  <h1>El regalo colectivo que estábais esperando</h1>

  <img src="/images/logo.png" alt="Trival Logo">

  <div class="header-down">
    <h2>Elige el plan perfecto para tu grupo y ¡a jugar!</h2>

    <md-icon>arrow_drop_down_circle</md-icon>
  </div>
</div>

<div class="flex-container products"
     fxLayout="row"
     fxLayoutWrap
     fxLayoutAlign="center center">
  <md-card *ngFor="let product of products" class="product">
    <md-card-content>
      <h2>{{ product.title }}</h2>

      <img src="/images/caja_1.png">

      <div class="product-price"><span class="product-price-quantity">{{ product.prize }}</span>€</div>

      <md-divider></md-divider>

      <md-list>
        <md-list-item *ngFor="let feature of features">
          <div class="flex-container"
               fxFill
               fxLayout="row"
               fxLayoutAlign="space-between start">
            <div fxFlex>
              {{ feature.text }}
            </div>
            <div fxLayout="row"
                 fxLayoutAlign="end center">
              <span class="feature-value" *ngIf="feature.value !== true" [ngClass]="{ 'accent': product[feature.value] === topFeatures[feature.value]}">{{ product[feature.value] }}</span>
              <md-icon color="{{ feature.value === true || product[feature.value] === topFeatures[feature.value] ? 'accent' : 'default' }}">check_circle</md-icon>
            </div>
          </div>
       </md-list-item>
     </md-list>
    </md-card-content>
    <div class="action-tip">
      Pulsa el botón si deseas que te avisemos cuando esté disponible
    </div>
    <md-card-actions class="flex-container" fxLayout="row">
      <button md-raised-button
              angulartics2On="click"
              angularticsEvent="Choose"
              angularticsCategory="Frontpage"
              [angularticsProperties]="{ label: product.title, value: product.prize }"
              color="primary"
              disabled="{{ chosen !== undefined }}"
              fxFlex
              (click)="choose(product.title)">¡LO QUIERO!</button>
    </md-card-actions>
  </md-card>
</div>

<div class="feedback">
  <h2>¿No quieres ninguno? Ayúdanos a mejorar enviando tus comentarios</h2>
  <form class="flex-container feedback-form"
        fxLayout="column">
    <md-input-container>
      <input mdInput placeholder="email (opcional)">
    </md-input-container>

    <md-input-container>
      <textarea mdInput placeholder="escribe aquí tus comentarios"></textarea>
    </md-input-container>

    <div class="feedback-action">
      <button md-raised-button color="primary">ENVIAR</button>
    </div>
  </form>

</div>

<div class="footer">
  <img src="/images/footer.png" alt="Footer">
</div>
