frontpage {
  display: block;

  .header {
    font-family: "Roboto Slab";
    color: white;
    background: #1C5063 url("/images/header.png") no-repeat center center;
    background-size: cover;
    height: 632px;
    padding: 20px;
    h1 {
      text-align: center;
      font-size: 36px;
    }
    img {
      max-width: 100%;
    }
    h2 {
      font-size: 18px;
    }
  }

  .header-down {
    text-align: center;
  }

  .explanation {
    padding: 16px;
    max-width: 1356px;
    margin: 56px auto 30px auto;

    h2 {
      color: mat-color($trivial-primary);
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bold;
      font-family: "Roboto Slab";
      &:not(:first-child) {
        margin-top: 42px;
      }
    }
    p {
      color: $trivial-color-blue-grey;
      font-size: 16px;

    }

    .people, .board {
      text-align: center;
      img {
        max-width: 300px;
      }
    }

    @media (min-width: 960px) {
      .row-2 {
        margin-top: 70px;
      }
    }

    .steps {
      margin-top: 56px;
    }

    .steps, .people, .board {
      img {
        width: 100%;
      }
    }

    .play-message {
      font-family: "Roboto Slab";
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: mat-color($trivial-accent);
      margin-top: 30px;
    }
  }

  .products {
    padding: 0 20px;
    margin-top: 30px;
    @media (min-width: 960px) and (max-width: 1399px) {
      width: 900px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .product {
    margin: 10px 20px;
    max-width: 268px;
    padding: 16px;
    border-top: solid 10px #a7b4be;
    h2 {
      text-align: center;
      font-family: "Roboto Slab";
      font-size: 24px;
      font-weight: bold;
      color: mat-color($trivial-primary);
    }

    .mat-list {
      margin-top: 30px;
      .mat-list-item {
        color: $trivial-color-blue-grey;
        .mat-list-item-content {
          padding: 0px;
        }
      }
    }

    img {
      width: 124%;
      margin-left: -12%;
    }

    .product-price {
      text-align: center;
      color: mat-color($trivial-accent);
      font-size: 26px;
      font-weight: 300;
      margin-top: 40px;
      margin-bottom: 20px;
      .product-price-quantity {
        font-size: 72px;
      }
    }

    .feature-value {
      padding-right: 10px;
    }

    .feature-value.accent {
      color: mat-color($trivial-accent);
    }

    .action-tip {
      margin-top: 40px;
      text-align: center;
      font-size: 12px;
      color: $trivial-color-blue-grey;
      padding: 0 20px;
    }

    button {
      font-weight: bold;
      font-size: 20px;
      height: 50px;
      margin: 16px !important;
    }
  }

  .feedback {
    max-width: 510px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 84px;
    margin-bottom: 72px;
    padding: 16px;

    h2 {
      text-align: center;
      font-family: "Roboto Slab";
      font-size: 24px;
      color: mat-color($trivial-primary);
    }

    .feedback-action {
      text-align: right;
      button {
        font-weight: bold;
        font-size: 20px;
        height: 50px;
        padding: 0 32px;
      }
    }
  }

  .footer {
    text-align: center;
    padding: 16px;
    max-width: 1356px;
    margin-right: auto;
    margin-left: auto;
    img {
      width: 100%;
    }
  }
}
