<div class="flex-layout"
     fxLayout="row">

  <div class="flex-layout"
       fxLayout="column"
       fxFlex="30">
    <div class="flex-layout"
          fxLayout="row"
          *ngFor="let choice of choices | async">
      <div fxFlex="50" class="session-id">
        {{ choice.sessionId }}
      </div>
      <div fxFlex="50" class="product">
        {{ choice.product }}
      </div>
    </div>
  </div>

  <div class="flex-layout"
       fxLayout="column"
       fxFlex="70">
    <div class="flex-layout"
          fxLayout="row"
          *ngFor="let feedback of feedbacks | async">
      <div fxFlex="20" class="session-id">
        {{ feedback.sessionId }}
      </div>
      <div fxFlex="30" class="email">
        {{ feedback.email }}
      </div>
      <div fxFlex="50" class="comments">
        {{ feedback.comments }}
      </div>
    </div>
  </div>
</div>
