<div class="flex-container header"
     fxLayout="column"
     fxLayoutAlign="space-around center">
  <h1>El juego de vuestras anécdotas</h1>

  <a href="#explanation"
     pageScroll
     angulartics2On="click"
     angularticsEvent="Click"
     angularticsCategory="Frontpage"
     [angularticsProperties]="{ label: 'Logo' }">
    <img src="/images/logo.png" alt="Trival Logo" />
  </a>

  <div class="header-down">
    <h2>Formulad vuestras preguntas, recibid el regalo y ¡a jugar!</h2>

    <a href="#explanation"
       pageScroll
       angulartics2On="click"
       angularticsEvent="Click"
       angularticsCategory="Frontpage"
       [angularticsProperties]="{ label: 'Arrow icon' }">
      <md-icon>arrow_drop_down_circle</md-icon>
    </a>
  </div>
</div>

<div class="explanation"
     id="explanation"
     fxLayout="column">
 <div class="row-1"
      fxLayout.gt-sm="row"
      fxLayout="column"
      fxLayoutAlign.gt-sm="space-around center">

    <div class="what" fxFlex.gt-sm="60">
      <h2>¿Qué es?</h2>
      <p>
        En tu grupo de amigos tenéis <b>un millón de anécdotas compartidas</b> que os hacen <b>moriros de risa</b>,
        <b>nostalgia</b>, o simplemente <b>rememorar momentos únicos</b>. Y, quizá, por cosas de la vida moderna
        ya casi no os veis salvo en ocasiones especiales: cumpleaños, bodas, navidades...
      </p>
      <p>
        El <b>Trivial de la Amistad</b> es el regalo ideal para este tipo de ocasiones:
        entras en la <b>plataforma</b>, comienzas a <b>crear preguntas</b> acerca de esa persona
        o de vuestro grupo de amigos, las organizas por temas, comentas...
        y nosotrxs te lo enviamos en formato <b>juego de mesa-de-toda-la-vida</b>.
        <b>¡Para que lo disfrutéis!</b>
      </p>

    </div>

    <div class="people" fxFlex.gt-sm="40">
      <img src="/images/gentepixel.png" alt="Gente">
    </div>

 </div>

 <div class="row-2"
      fxLayout.gt-sm="row"
      fxLayout="column"
      fxLayoutAlign.gt-sm="space-around center">
    <div class="why" fxFlex.gt-sm="60" fxFlexOrder.gt-sm="2">
      <h2>¿A quién va dirigido?</h2>
      <p>
        Para amistades, compas de trabajo, antiguos grupos de Erasmus,
        tu amiga la que se casa, a la que se marcha a vivir a Alemania,
        el que cumple 40 tacos, los que llevais desde los 14 años juntandoos para jugar al rol...
      </p>

      <h2>¿Por qué le va a gustar?</h2>
      <p>
        Pues porque es un detalle muy bonito que tus amigos se junten para darte una sorpresa,
        porque es <b>único y personalizado</b> y porque aquí, de verdad de la buena, <b>lo que importa es participar</b>.
      </p>

      <h2>¿Y cómo podemos conseguirlo?</h2>
      <p>
        Primero, haz un grupo y comentales la idea.
        Entrad en la plataforma y comenzad a formular preguntas ¡vicio garantizado!.
        <b>Subidlo todo con 10 días de antelación a la fecha para que nos de tiempo a imprimirlo, enviarlo y dejarlo todo fetén.</b> ¡¡Recibe, regala y a jugar!!
      </p>
    </div>
    <div class="board" fxFlex.gt-sm="40">
      <img src="/images/img-juego.png" alt="Imagen del juego">
    </div>
  </div>

  <div class="steps">
    <img src="/images/pasos.png" alt="Pasos">
  </div>

  <div class="play-message">
    Elige el plan perfecto para tu grupo y ¡a jugar!
  </div>

</div>

<div class="flex-container products"
     fxLayout="row"
     fxLayoutWrap
     fxLayoutAlign="center center">
  <md-card *ngFor="let product of products" class="product">
    <md-card-content>
      <h2>{{ product.title }}</h2>

      <img src="/images/caja_1.png">

      <div class="product-price"><span class="product-price-quantity">{{ product.price }}</span>€</div>

      <md-divider></md-divider>

      <md-list>
        <md-list-item *ngFor="let feature of features">
          <div class="flex-container"
               fxFill
               fxLayout="row"
               fxLayoutAlign="space-between center">
            <div fxFlex
                 mdTooltip="{{ feature.tooltip }}">
              {{ feature.text }}
            </div>
            <div fxLayout="row"
                 fxLayoutAlign="end center">
              <span class="feature-value" *ngIf="feature.value !== true" [ngClass]="{ 'accent': product[feature.value] === topFeatures[feature.value]}">{{ product[feature.value] }}</span>
              <md-icon color="{{ feature.value === true || product[feature.value] === topFeatures[feature.value] ? 'accent' : ( product[feature.value] === midFeatures[feature.value] ? 'middle' : 'default' ) }}">check_circle</md-icon>
            </div>
          </div>
       </md-list-item>
     </md-list>
    </md-card-content>
    <div class="action-tip">
      Pulsa el botón si deseas que te avisemos cuando esté disponible
    </div>
    <md-card-actions class="flex-container" fxLayout="row">
      <button md-raised-button
              angulartics2On="click"
              angularticsEvent="Choose"
              angularticsCategory="Frontpage"
              [angularticsProperties]="{ label: product.title, value: product.price }"
              color="primary"
              disabled="{{ chosen !== undefined }}"
              fxFlex
              (click)="choose(product.title)">{{ chosen === product.title ? '¡CHACHI!' : '¡LO QUIERO!'}}</button>
    </md-card-actions>
  </md-card>
</div>

<div class="feedback">
  <div class="form" *ngIf="! sentFeedback">
    <h2>¿Quieres que te avisemos cuando esté listo? O si tienes alguna duda, ¡escríbenos!</h2>
    <form class="flex-container feedback-form"
          fxLayout="column">
      <md-input-container>
        <input #emailInput mdInput placeholder="email (opcional)" [(ngModel)]="email" name="email" type="email">
      </md-input-container>

      <md-input-container>
        <textarea mdInput placeholder="escribe aquí tus comentarios" [(ngModel)]="comments" name="comments"></textarea>
      </md-input-container>

      <div class="feedback-action">
        <button md-raised-button
                color="primary"
                angulartics2On="click"
                angularticsEvent="Feedback"
                angularticsCategory="Frontpage"
                [angularticsProperties]="{ label: chosen }"
                (click)="sendFeedback()">ENVIAR</button>
      </div>
    </form>
  </div>

  <div class="thanks" *ngIf="sentFeedback">
    <h2>Gracias por los comentarios</h2>
    <div *ngIf="email != ''">
      En breve nos pondremos en contacto contigo
    </div>

    <div class="feedback-action">
      <button md-raised-button
              color="primary"
              (click)="resetFeedback()">VOLVER</button>
    </div>
  </div>

</div>

<div class="footer">
  <img src="/images/footer.png" alt="Footer">
</div>
